/* style.css */

/* カテゴリのスタイル */
.category {
    margin: 20px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: green; /* 文字色を緑色に変更 */
}

/* カテゴリタイトルのスタイル */
.category-title {
    font-size: 24px;
    color: #333;
}

/* アイテムのスタイル */
.items {
    list-style-type: decimal;
    margin-left: 20px;
    padding-left: 0;
}

.item {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}
